<p id="notice"><%= notice %></p>

<p>
  <strong>Group name:</strong>
  <%= @group.group_name %>
</p>

<p>
  <strong>Group email:</strong>
  <%= @group.group_email %>
</p>

<p>
  <strong>Short form:</strong>
  <%= @group.short_form %>
</p>

<p>
  <strong>Location:</strong>
  <%= @group.location_id %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
